# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.log

# Virtual environment
venv/
ENV/
env/
.venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Build / packaging
build/
dist/
*.tar.gz
*.whl

# Docker
*.pid
*.seed
*.cover
*.log
*.out

# Flask specific
instance/
*.db
*.sqlite

# Cache
.cache/
